-# Vertical chinese text that is slanted.

.chinese-title
  .chinese-title__sentence.chinese-title__sentence--period-ender
    - @date.each do |character|
      %h2= character
  .chinese-title__sentence.chinese-title__sentence--comma-ender
    - @h1_1.each do |character|
      %h1= character
  .chinese-title__sentence
    - @h1_2.each do |character|
      %h1= character
  .chinese-title__sentence.chinese-title__sentence--period-ender.chinese-title__sentence--quoter
    = link_to a_fighters_path, target: '_blank' do
      - @message_1.each do |character|
        %h3= character
  .chinese-title__sentence.chinese-title__sentence--many-commas
    - @message_2.each do |character|
      %h3= character
