.project-list.project-list--other-links
  .project-list__title Others / 其他
  .project-list__content
    .project-list__work
      = link_to 'http://chester.la/w/possessions', target: '_blank', class: 'project-list__work__link' do
        %p.project-list__work__link__image--possessions Possessions
      .project-list__work__description Cataloging all my possessions.

    .project-list__work
      = link_to maou_path, target: '_blank', class: 'project-list__work__link' do
        = image_tag 'maou-the-real.png', class: 'project-list__work__link__image project-list__work__link__image--maou'
      .project-list__work__description My "Hataraku Maou-sama!" anime pilgrimage.

    .project-list__work
      = link_to shirobako_path, target: '_blank', class: 'project-list__work__link' do
        = image_tag 'shirobako.png', class: 'project-list__work__link__image project-list__work__link__image--shirobako'
        = image_tag 'shirobako-the-real.png', class: 'project-list__work__link__image project-list__work__link__image--shirobako-the-real'
      .project-list__work__description My Shirobako anime pilgrimage.
