.index-new
  .centered-block
    = render 'components/chinese_title'
    = render 'components/merge_title'
    = render 'components/red_white_block'
    = render 'components/riyarchy_label'

  = render 'components/mewtwo'
