- @body_classes = :index

= render 'index/partials/page_1'
= render 'index/partials/page_2'
= render 'index/partials/page_3'
= render 'index/partials/page_4'
= render 'index/partials/page_5'
= render 'index/partials/page_6'
