- @body_classes = :index

.index__desktop
  .centered-block
    = render 'components/chinese_title'
    = render 'components/merge_title', mobile: false
  = render 'components/mewtwo'
  .centered-block
    = render 'components/social_networks'
    = render 'components/my_works'
  .centered-block
    = render 'components/riyarchy_label'

.index__mobile
  = render 'components/merge_title', mobile: true
  = render 'components/my_works'
