- @body_classes = :index

.centered-block
  = render 'components/chinese_title'
  = render 'components/merge_title'
= render 'components/mewtwo'
.centered-block
  = render 'components/red_white_block'
.centered-block
  = render 'components/riyarchy_label'
  = link_to 'http://www.audiomon.com' do
    = image_tag 'audiomon.png', class: 'audiomon-logo'
