.index-new
  .centered-block
    = render 'index/partials/chinese_title'
    = render 'index/partials/merge_title'
    = render 'index/partials/red_white_block'
    = render 'index/partials/riyarchy_label'

  = render 'index/partials/mewtwo'
