- @html_title = 'Shirobako The Real'

.shirobako
  .shirobako__title
    = image_tag 'shirobako.png', class: 'shirobako__title__shirobako'
    = image_tag 'shirobako-the-real.png', class: 'shirobako__title__the-real'

  .shirobako__content
    = image_tag 'diesel.png', class: 'shirobako__content__character shirobako__content__character--diesel'
    = image_tag 'ema.png', class: 'shirobako__content__character shirobako__content__character--ema'
    = image_tag 'aoi.png', class: 'shirobako__content__character shirobako__content__character--aoi'
    = image_tag 'shizuka.png', class: 'shirobako__content__character shirobako__content__character--shizuka'
    = image_tag 'mii.png', class: 'shirobako__content__character shirobako__content__character--mii'

    .shirobako__content__episode-section-wrapper
      .shirobako__content__episode-section
        .shirobako__content__episode-section__semicircle
        .shirobako__content__episode-intro
          .shirobako__content__episode-intro__number Episode 7:
          .shirobako__content__episode-intro__summary In this episode, Aoi's older sister comes to visit her in Tokyo.
        .shirobako__content__shots
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--anime' href="https://www.flickr.com/photos/62072291@N04/30566245381/in/dateposted-public/" title="Shirobako">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--anime' src="https://c6.staticflickr.com/6/5450/30566245381_f5442fb4b9_b.jpg"></span></a>
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--real' href="https://www.flickr.com/photos/62072291@N04/30654312305/in/dateposted-public/" title="Shirobako The Real">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--real' src="https://c2.staticflickr.com/6/5731/30654312305_03290ee924_b.jpg"></span></a>
          .shirobako__content__shots__caption Musashi-Sakai Station.

        .shirobako__content__shots
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--anime' href="https://www.flickr.com/photos/62072291@N04/30566247041/in/dateposted-public/" title="Shirobako">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--anime' src="https://c2.staticflickr.com/6/5459/30566247041_df66468dcc_b.jpg"></span></a>
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--real' href="https://www.flickr.com/photos/62072291@N04/30618219426/in/dateposted-public/" title="Shirobako The Real">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--real' src="https://c3.staticflickr.com/6/5717/30618219426_c6da313964_b.jpg"></span></a>
          .shirobako__content__shots__caption Kao-chan-neesan arrives at Musashi-Sakai.

        .shirobako__content__shots
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--anime' href="https://www.flickr.com/photos/62072291@N04/30566248331/in/dateposted-public/" title="Shirobako">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--anime' src="https://c4.staticflickr.com/6/5819/30566248331_8d323158f2_b.jpg"></span></a>
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--real' href="https://www.flickr.com/photos/62072291@N04/30020612013/in/dateposted-public/" title="Shirobako The Real">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--real' src="https://c6.staticflickr.com/6/5579/30020612013_f62b645459_b.jpg"></span></a>
          .shirobako__content__shots__caption Kao-chan-neesan's view of Musashi-Sakai.

        .shirobako__content__shots
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--anime' href="https://www.flickr.com/photos/62072291@N04/30618157546/in/dateposted-public/" title="Shirobako">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--anime' src="https://c3.staticflickr.com/6/5633/30618157546_619105de82_b.jpg"></span></a>
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--real' href="https://www.flickr.com/photos/62072291@N04/30537543402/in/dateposted-public/" title="Shirobako The Real">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--real' src="https://c3.staticflickr.com/6/5789/30537543402_d453086610_b.jpg"></span></a>
          .shirobako__content__shots__caption Kao-chan-neesan is disappointed that Tokyo isn't too different from the countryside.

        .shirobako__content__shots
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--anime' href="https://www.flickr.com/photos/62072291@N04/30022945924/in/dateposted-public/" title="Shirobako">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--anime' src="https://c5.staticflickr.com/6/5692/30022945924_59691ceec4_b.jpg"></span></a>
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--real' href="https://www.flickr.com/photos/62072291@N04/30618215096/in/dateposted-public/" title="Shirobako The Real">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--real' src="https://c1.staticflickr.com/6/5770/30618215096_aca75d8d8e_b.jpg"></span></a>
          .shirobako__content__shots__caption The corner where Kao-chan-neesan sees Emacchi.

        .shirobako__content__shots
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--anime' href="https://www.flickr.com/photos/62072291@N04/30022946864/in/dateposted-public/" title="Shirobako">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--anime' src="https://c1.staticflickr.com/6/5739/30022946864_e646f5e3da_b.jpg"></span></a>
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--real' href="https://www.flickr.com/photos/62072291@N04/30566314241/in/dateposted-public/" title="Shirobako The Real">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--real' src="https://c2.staticflickr.com/6/5820/30566314241_36140749ee_b.jpg"></span></a>

        .shirobako__content__shots
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--anime' href="https://www.flickr.com/photos/62072291@N04/30022948324/in/dateposted-public/" title="Shirobako">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--anime' src="https://c5.staticflickr.com/6/5602/30022948324_084e5ac222_b.jpg"></span></a>
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--real' href="https://www.flickr.com/photos/62072291@N04/30537539262/in/dateposted-public/" title="Shirobako The Real">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--real' src="https://c7.staticflickr.com/6/5820/30537539262_1cd0992dee_b.jpg"></span></a>

        .shirobako__content__shots
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--anime' href="https://www.flickr.com/photos/62072291@N04/30022949274/in/dateposted-public/" title="Shirobako">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--anime' src="https://c3.staticflickr.com/6/5454/30022949274_d47a4db405_b.jpg"></span></a>
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--real' href="https://www.flickr.com/photos/62072291@N04/30566307631/in/dateposted-public/" title="Shirobako The Real">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--real' src="https://c8.staticflickr.com/6/5773/30566307631_c96d46cded_b.jpg"></span></a>
          .shirobako__content__shots__caption Kao-chan-neesan waves and calls out to Emacchi, but is unnoticed.

    .shirobako__content__episode-section-wrapper
      .shirobako__content__episode-section
        .shirobako__content__episode-section__semicircle
        .shirobako__content__episode-intro
          .shirobako__content__episode-intro__number Episode 13:
          .shirobako__content__episode-intro__summary In this episode, Miyamori Aoi studies about fighter jets for Musashino Animation's new production: The Third Aerial Girls Squad.

        .shirobako__content__shots
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--anime' href="https://www.flickr.com/photos/62072291@N04/30022950464/in/dateposted-public/" title="Shirobako">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--anime' src="https://c1.staticflickr.com/6/5539/30022950464_c121c07214_b.jpg"></span></a>
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--real' href="https://www.flickr.com/photos/62072291@N04/30537534422/in/dateposted-public/" title="Shirobako The Real">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--real' src="https://c7.staticflickr.com/6/5485/30537534422_59a68f31c7_b.jpg"></span></a>
          .shirobako__content__shots__caption The library Miyamori Aoi is studying at.

        .shirobako__content__shots
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--anime' href="https://www.flickr.com/photos/62072291@N04/30022951714/in/dateposted-public/" title="Shirobako">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--anime' src="https://c3.staticflickr.com/6/5346/30022951714_80c6b1f36d_b.jpg"></span></a>
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--real' href="https://www.flickr.com/photos/62072291@N04/30618204806/in/dateposted-public/" title="Shirobako The Real">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--real' src="https://c7.staticflickr.com/6/5652/30618204806_760d8c969a_b.jpg"></span></a>
          .shirobako__content__shots__caption Aoi-chan studying about fighter jets.

        .shirobako__content__shots
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--anime' href="https://www.flickr.com/photos/62072291@N04/30022953714/in/dateposted-public/" title="Shirobako">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--anime' src="https://c3.staticflickr.com/6/5806/30022953714_7a54b6bea0_b.jpg"></span></a>
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--real' href="https://www.flickr.com/photos/62072291@N04/30566300281/in/dateposted-public/" title="Shirobako The Real">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--real' src="https://c2.staticflickr.com/6/5561/30566300281_4354d5cff5_b.jpg"></span></a>
          .shirobako__content__shots__caption A larger view of the public library.

        .shirobako__content__shots
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--anime' href="https://www.flickr.com/photos/62072291@N04/30022955334/in/dateposted-public/" title="Shirobako">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--anime' src="https://c7.staticflickr.com/6/5443/30022955334_e8d89f4cce_b.jpg"></span></a>
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--real' href="https://www.flickr.com/photos/62072291@N04/30354474210/in/dateposted-public/" title="Shirobako The Real">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--real' src="https://c3.staticflickr.com/6/5471/30354474210_33d74b2765_b.jpg"></span></a>
          .shirobako__content__shots__caption View from the entrance of the library. The trees seem to have grown since the production of this anime.

        .shirobako__content__shots
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--anime' href="https://www.flickr.com/photos/62072291@N04/30022956534/in/dateposted-public/" title="Shirobako">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--anime' src="https://c7.staticflickr.com/6/5553/30022956534_084329440b_b.jpg"></span></a>
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--real' href="https://www.flickr.com/photos/62072291@N04/30354470960/in/dateposted-public/" title="Shirobako The Real">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--real' src="https://c1.staticflickr.com/6/5499/30354470960_21428f9e9e_b.jpg"></span></a>
          .shirobako__content__shots__caption Diesel-san talking to Aoi-chan outside the library.

        .shirobako__content__shots
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--anime' href="https://www.flickr.com/photos/62072291@N04/30022958224/in/dateposted-public/" title="Shirobako">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--anime' src="https://c1.staticflickr.com/6/5760/30022958224_2881294e58_b.jpg"></span></a>
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--real' href="https://www.flickr.com/photos/62072291@N04/30566290541/in/dateposted-public/" title="Shirobako The Real">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--real' src="https://c6.staticflickr.com/6/5501/30566290541_4a8a6f9e5f_b.jpg"></span></a>

        .shirobako__content__shots
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--anime' href="https://www.flickr.com/photos/62072291@N04/30566243701/in/dateposted-public/" title="Shirobako">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--anime' src="https://c6.staticflickr.com/6/5336/30566243701_e79ce8d42c_b.jpg"></span></a>
          <a target='_blank' class='shirobako__content__shots__link shirobako__content__shots__link--real' href="https://www.flickr.com/photos/62072291@N04/30354460540/in/dateposted-public/" title="Shirobako The Real">
          <span class='shirobako__content__shot-wrapper'><img class='shirobako__content__shot shirobako__content__shot--real' src="https://c5.staticflickr.com/6/5593/30354460540_86ffd52d7c_b.jpg"></span></a>
          .shirobako__content__shots__caption Diesel-san in front of the Musashi-Sakai subway station.
