- @html_class = :w2

%section.title
  %h1<
    = link_to "This is the Website \nof Chester Law!!", w2_path
  .image

%section.nav
  %section
    = link_to :Links
    = link_to :Downloads
    = link_to :Music
    = link_to :Games

%section.content
  .bio
    .figure
      = image_tag "daisuke.png"

    .bubble
      = image_tag "bubble.png"

    .text
      %p Hi, I'm Chester Law, and this is my new Website. I hope you find it well and deserving of your time. Please come back and check it out again once in a while, in case there are updates that you won't want to miss! That said, have fun!

%section.footer
  %p= "Chester Law \u00A9 #{Time.new.year}"
